<!DOCTYPE html>
<html>

<head>
    <style>
        table th {
            float: right;
            margin: 5px;
            padding: 0px 0px 20px 0px;
        }
    </style>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Müzik Türü Ekle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
</head>

<body>
    <div class="container card" style="margin-top:30px; padding:30px; width: 940px; ">
        <table>
            <form action="/muzikTurEkle" method="POST" >


                <tr>
                    <th>Müzik Türü :</th>
                    <td><input style="width:500px;" class="input" type="text" name="mTur" placeholder="Müzik Türü"></td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <button type="submit" class="button is-link">Kaydet</button>
                        <a href="/muzikListe" class="button">İPTAL</a>
                    </td>
                </tr>
            </form>
        </table>


    </div>
</body>

</html>